    conda {
            createOptions = "-c conda-forge -c bioconda -c defaults"
            useMamba = true
        }       

    process {
    
        errorStrategy = {task.attempt < params.maxRetries ? 'retry' : 'ignore'}
        maxRetries = params.maxRetries

        withName: nanoq {
             conda = "${projectDir}/assets/env/nanoq.yml"
        }

        withName: flye {
            conda = "${projectDir}/assets/env/flye.yml"
        }
        
        withName: busco {
            conda = "${projectDir}/assets/env/busco.yml"
        }
        
        withName: medaka {
            conda = "${projectDir}/assets/env/medaka.yml"
        }

        withName: mob_recon {
            conda = "${projectDir}/assets/env/mob_suite.yml"
        }

        withName: quast {
            conda = "${projectDir}/assets/env/quast.yml"
        }

        withName: staramr {
            conda = "${projectDir}/assets/env/staramr.yml"
        }
    }
