manifest {
    author = 'Thanh Le Viet'
    description = 'Pipeline for analysing campy nanopore data'
    mainScript = 'main.nf'
    nextflowVersion = '>=21.08.0-edge'
    version = '1.0.0'
}

params {
    reads = false 
    outdir = "./output"
    maxRetries = 3

    //Flye
    genome_size = false
    flye_input = '--nano-raw'
    flye_options = '--meta --asm-coverage 150'
    
    //Medaka
    medaka_model = 'r941_min_high_g351'
    //BUSCO
    busco = false
    busco_db_location = false

    //MOB-SUITE
    plasmid = false
    mob_db = false
    ref_db = false
    
    // Long read QC
    min_length = 1000
    min_qscore = 9
}

profiles {
    standard{
        //Default
    }

    conda {
        includeConfig "${projectDir}/assets/config/conda.config"
    }

    docker {
        docker {
            enabled = true
            fixOwnership = true
        }
    }
}
